@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap');
:root {
    --bg: rgb(104, 133, 98);
    --blue: #4cb5f5;
    --gray: #b7b8b6;
    --darkGreen: #34675c;
    --lightGreen: #b3c100;
    --text: #333;
    --white: #fff;
    --fontSize: 16px;
    --font: 'Raleway', sans-serif;
    --transition: .3s ease;
    --py: 70px 0;
}

/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(104, 133, 98, .7), rgba(104, 133, 98, .7)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    font-family: var(--font);
    color: var(--text);
}
a {
    text-decoration: none;
    transition: var(--transition);
}
h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 300;
}
button {
    padding: 15px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    background: var(--lightGreen);
    margin-top: 20px;
    cursor: pointer;
    transition: var(--transition);
}
button:hover {
    background: var(--white);
}

/* topbar */
.topbar {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
}
.topbar .logo {
    font-weight: 700;
    letter-spacing: 1px;
}
.topbar a {
    color: var(--white);
}
.topbar a:hover {
    color: var(--lightGreen);
}
.topbar p {
    color: var(--lightGreen);
}

/* main */
main {
    max-width: 1140px;
    margin: 50px auto;
}

/* uvod */
.uvod {
    display: flex;
    color: var(--white);
}
.uvod article:first-child {
    flex: 0 0 40%;
}
.uvod article:last-child {
    flex: 0 0 60%;
}
.uvod img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.uvod div {
    padding: 50px;
    font-size: 1.2rem;
}
.uvod div:first-child {
    background: var(--darkGreen);
}
.uvod div:last-child {
    background: var(--blue);
}
.uvod h2 {
    margin-bottom: 20px;
}

/* info */
.info {
    background: var(--white);
    text-align: center;
    padding: var(--py);
}
.info article:first-child {
    margin-bottom: 50px;
}
.info article:last-child {
    display: flex;
    flex-wrap: wrap;
}
.info article:last-child div {
    flex: 1;
    border-right: 1px solid var(--gray);
}
.info div:last-child {
    border: none;
}
.info .fa-camera {
    color: var(--lightGreen);
}
.info .fa-envelope {
    color: var(--darkGreen);
}
.info .fa-phone {
    color: var(--blue);
}
.info i {
    font-size: 2rem;
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* slider */
.slider {
    background: var(--lightGreen);
    text-align: center;
    padding: var(--py);
}
.slider h2 {
    color: var(--white);
    margin-bottom: 30px;
}
